.main-section {
    background-color: #643CFF;
    padding-top: 50px;
    padding-bottom: 100px;
    background-size: 100%;
    height: 730px;
    border-bottom: 10px solid #C64D2A;
}

.main-section .main-subtitle {
    margin-bottom: 100px;
}

.main-section.-bgBlack {
    background-color: black;
    height: 520px;
    background-size: 100%;
    border-bottom: 10px solid #643CFF;
}