.section {
    background-color: #643CFF;
    padding-top: 50px;
    padding-bottom: 100px;
    background-size: 100%;
    height: 730px;
    border-bottom: 10px solid #C64D2A;
}

.section .main-subtitle {
    margin-bottom: 100px;
}